.box{
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  font-size: 40px;
}
.black{
  background-color: #059931;
}
.row{
  margin-left: calc(50vw - 200px);
}
.board{
  margin-top: 10px;
}
.selected{
  background-color: greenyellow;
}